[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
ipython = "*"
jupyter = "*"
invoke = "*"
scandir = "*"
ujson = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
joblib = "*"
SQLAlchemy = "*"
pandas = "*"
